docs/azure/data_factory/for_each
{
    "name": "ForEachFile",
    "type": "ForEach",
    "dependsOn": [
        {
            "activity": "config_file",
            "dependencyConditions": [
                "Succeeded"
            ]
        }
    ],
    "userProperties": [],
    "typeProperties": {
        "items": {
            "value": "@activity('config_file').output.value",
            "type": "Expression"
        },
        "activities": [
            {
                "name": "HTTP_Ingestion",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "HttpReadSettings",
                            "requestMethod": "GET"
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "sink": {
                        "type": "JsonSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "JsonWriteSettings"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "githubDS",
                        "type": "DatasetReference",
                        "parameters": {
                            "p_file": {
                                "value": "@{item().file}.json",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ingestDS",
                        "type": "DatasetReference",
                        "parameters": {
                            "p_file": {
                                "value": "@item().file",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            }
        ]
    }
}